@import url('https://fonts.googleapis.com/css?family=Offside:700|Offside:400');


body[data-theme="light"] {
    --text: #050315;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #dedcff;
    --accent: #433bff;

    --linearPrimarySecondary: linear-gradient(#2f27ce, #dedcff);
    --linearPrimaryAccent: linear-gradient(#2f27ce, #433bff);
    --linearSecondaryAccent: linear-gradient(#dedcff, #433bff);
    --radialPrimarySecondary: radial-gradient(#2f27ce, #dedcff);
    --radialPrimaryAccent: radial-gradient(#2f27ce, #433bff);
    --radialSecondaryAccent: radial-gradient(#dedcff, #433bff);
}

body[data-theme="dark"] {
    --text: #ebe9fc;
    --background: rgba(63, 63, 63, 0.646);
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2;

    --linearPrimarySecondary: linear-gradient(#3a31d8, #020024);
    --linearPrimaryAccent: linear-gradient(#3a31d8, #0600c2);
    --linearSecondaryAccent: linear-gradient(#020024, #0600c2);
    --radialPrimarySecondary: radial-gradient(#3a31d8, #020024);
    --radialPrimaryAccent: radial-gradient(#3a31d8, #0600c2);
    --radialSecondaryAccent: radial-gradient(#020024, #0600c2);

}

* {
    transition: all 0.2s;
    scroll-behavior: smooth;

}


body {
    overflow: scroll;
}


::-webkit-scrollbar {
    display: none;
}




button:hover {
    box-shadow: 0px 0px 20px 15px rgba(26, 26, 247, 0.08);

}


body {
    font-weight: 300;
    color: var(--text) !important;
    font-family: 'Offside';
    background-color: var(--background) !important;
}


mark {
    color: var(--text);
    background-color: var(--secondary);
}


/* Start Settings */
a.nav-link.active {
    font-weight: bold;
    color: var(--accent) !important;
}


/* End Settings */