/* if less than 1024 */
@media (max-width: 1024px) {
    section a::before {
        content: none !important;
    }
}

@media (max-width: 768px) {
    section>.content>div.item>div {
        flex-direction: column;
    }

    header#Intro>.container .header-buttons {
        flex-direction: column;
        align-items: center;
    }
}