/* Start header section */




header {
    height: 50vh;
}


* {
    min-width: min-content;
}



#btn-request-service,
#btn-download-cv {
    /* background-color: red; */
    width: 160px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid var(--secondary);
}


#btn-request-service {
    font-weight: bold;
    color: var(--background) !important;
    background-color: var(--primary);
}


#btn-request-service>a {
    text-decoration: none;
    color: white;
}

section a {
    color: var(--accent);
    text-decoration: none;
    font-size: larger;

}

/* btn download */
#btn-download {
    cursor: pointer;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}


#btn-download svg {
    margin: 16px 0 0 16px;
    fill: none;
    transform: translate3d(0, 0, 0);
}

#btn-download svg polyline,
#btn-download svg path {
    stroke: var(--primary);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
}

#btn-download svg path#check {
    stroke-dasharray: 38;
    stroke-dashoffset: 114;
    transition: all 0.4s ease;
}

#btn-download.downloaded svg .svg-out {
    opacity: 0;
    animation: drop 0.3s linear;
    transition-delay: 0.4s;
}

#btn-download.downloaded svg path#check {
    stroke: #20CCA5;
    stroke-dashoffset: 174;
    transition-delay: 0.4s;
}

@keyframes drop {
    20% {
        transform: translate(0, -3px);
    }

    80% {
        transform: translate(0, 2px);
    }

    95% {
        transform: translate(0, 0);
    }
}

.credit {
    /* position: fixed; */
    /* right: 20px;
    bottom: 20px; */
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
}

.credit img {
    width: 72px;
}

.credit:hover {
    transform: scale(0.95);
}




button[primary]:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

/* End header section */




/* Start Skills Style */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.skills span {
    padding: 5px 0;
    border-radius: 5px;
    background-color: var(--accent-200);
    color: var(--text-900);
}

.skills span:nth-child(n+2)::before {
    content: " ⦁  ";

}

/* End Skills Style */



/* Start Section Style */
hr {
    height: 2px;
    color: var(--background);
    background-color: var(--background);
}

textarea {
    resize: none;
}

section>.content {
    padding: 5px;
    border-radius: 10px;
}

section {
    padding-top: 15px;
}



section>h2 {
    position: relative;
    padding-left: 15px;
    width: min-content;
}

section>h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--secondary);
    /* color: red; */
    /* background-color: red; */
}

section>h2:hover+ ::before {
    /* color: red; */
    background-color: red;
}

/* End Section Title */

/* Start Footer Section Style */
.footer {
    padding: 40px 0;
    background-color: var(--background);
}

.footer a {
    color: var(--accent);
    text-decoration: none;
}

.footer .social-icon {
    font-size: xx-large;
    margin-right: 15px;
}

/* End Footer Section Style */


/* Start go-to-top */

#toggleTheme,
#goTopBtn {
    color: var(--primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    position: fixed;

    width: 28px;
    height: 28px;

    bottom: 15px;
    right: 30px;

    border: 0.5px solid white;
    background-color: white;

    border-radius: 15px;
}


#goTopBtn {
    display: none;
    bottom: 50px;
    right: 30px;

}

#goTopBtn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

/* End go-to-top */


/* Start Contact Section */
footer .follow-links>a>i>i {
    width: 40px;
    font-size: 32px;
    text-align: center;
}

footer a::before,
section a::before {
    content: "↪ ";
    color: transparent;

}

footer a:hover::before,
section a:hover::before {
    color: var(--secondary);
}

footer a:focus::before,
section a:hover::before {
    color: var(--accent);
}

/* End Contact Section */



.got-next-section {
    position: relative;
    bottom: 50px;
}


/* Start Scroll Mouse animation */

#mouse-scroll {
    margin: auto;
}

#mouse-scroll {
    margin: auto;
    width: min-content;
    position: relative;
}

#mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid var(--accent);
    /* top: 170px; */
}

#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
    animation: mouse-scroll 1s infinite;
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

#mouse-croll .down-arrow-1 {
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
    animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
    animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: var(--accent);
    position: relative;
}

#mouse-scroll .mouse-in {
    animation: animated-mouse 1.2s ease infinite;
    -webkit-animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
}

@keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* end */

#Intro {
    position: relative;
}

/* Start overall keywords */
#overall-keywords {
    position: absolute;
    /* background-color: red; */
    top: 8%;
    left: 5%;
    width: 90%;
    margin: auto;
    height: 80%;
}

#overall-keywords>.container>.item {
    background-color: transparent;
    width: min-content;
    height: 50px;
    padding: 15px;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    position: absolute;
    z-index: 9999;
}

#overall-keywords>.container>.item:nth-child(1) {
    right: 50px;
}

#overall-keywords>.container>.item:nth-child(2) {
    top: 180px;
    right: 50px;
}


/* c++, python */

#overall-keywords>.container>.item:nth-child(3) {
    bottom: 80px;
    right: 90px;
}

#overall-keywords>.container>.item:nth-child(4) {
    bottom: 100px;
    left: 90px;
}

#overall-keywords>.container>.item:nth-child(5) {
    top: 180px;
    left: 90px;
}

#overall-keywords>.container>.item:nth-child(6) {
    top: 15%;
    right: 10%;
}



/* Start overall keywords */


/* Start Contact Section */


#Contact .content {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-form {
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--primary);
    /* Adjust to match your site's color scheme */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #433bff;

    /* Adjust hover color */
}

/* End Contact Section */