/* Bulse animation here */
@keyframes bulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  25% {
    transform: scale(1.05);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.4;
  }

  75% {
    transform: scale(1.05);
    opacity: 0.8;
  }


  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.bulse-animation {
  animation: bulse 0.9s ease-in-out infinite;
}

.bulse-animation:hover {
  animation: bulse 0.5s ease-in-out infinite;
}

/* .bulse-animation:active {
  animation: bulse 0.5s ease-in-out infinite;
}

.bulse-animation:focus {
  animation: bulse 0.5s ease-in-out infinite;
}

.bulse-animation:focus-visible {
  animation: bulse 0.5s ease-in-out infinite;
}

.bulse-animation:focus-within {
  animation: bulse 0.5s ease-in-out infinite;
}

.bulse-animation:focus-within-visible {
  animation: bulse 0.5s ease-in-out infinite;
} */